  #index{
    position: absolute;
    display: block;
    top: 4%;
    left: 2.5%;
    font-size: 25px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

  #index1{
    position: absolute;
    display: block;
    top: 5%;
    left: 2.5%;
    font-size: 25px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);

    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.8px black;
  }

  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
  }
  
  .topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
  }

  .topnav a.active {
    background-color: #333;
    color: #04AA6D;
  }

  #pozadina{
    background-image: url('img/pozadina1.jpg');
  }