body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .item1 { grid-area: novcanik;}
  .item2 { grid-area: rulet;}

.grid-container {
    display: grid;
    grid-template-areas:
    'novcanik rulet rulet rulet'
      ;
    gap: 5px;
    background-color: rgb(10, 58, 22);
    padding: 10px;
    }
  
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 20px;
  }