  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
  }
  
  .topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  #overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.911);
    z-index: 2;
    cursor: pointer;
  }

  #text{
    position: absolute;
    display: block;
    top: 10%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
  
  #text1{
    position: absolute;
    display: block;
    top: 25%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
  
  #text2{
    position: absolute;
    display: block;
    top: 60%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
  
  #text3{
    position: absolute;
    display: block;
    top: 75%;
    left: 50%;
    font-size: 25px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
  }

  img:hover{
    opacity: 0.7;
  }
  
  body {
    background-image: url('img/pozadina1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  #novcanikgrid {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 0, 0, 0);
    z-index: 2;
    cursor: pointer;
  }

  #textnovcanik{
    position: absolute;
    display: block;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

  .item1 { grid-area: novac; }
  .item2 { grid-area: restart; }

  .gridcontainer {
    display: grid;
    grid-template-areas:
    'novac restart'
      ;
    gap: 5px;
    background-color: rgb(41, 175, 63);
    padding: 10px;
    position: absolute;
    display: block;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    }

    .gridcontainer > div {
      background-color: rgba(255, 255, 255, 0.7);
      text-align: center;
      padding: 20px;
      font-size: 20px;
      }